.bg{
  background-color: #79253d;
}
.bgg{
  background-color: lightgrey;
}
.color{
  color: #79253d;
  background-color: rgb(255, 223, 228);
}
.nn{
  margin-top: -10px;
}
.url{
  background-image: url(../src/assets/c837a6_e388daae60224eb5905669d06ea5a017~mv2.avif);
  background-repeat: no-repeat;
}
.color-1{
  color: #79253d;
  
}
.btnn{
  text-decoration: none;
  border: 1px solid #79253d;
  padding: 15px;
  color: #79253d;
position: absolute;

}
.btnn:hover{
color: white;
background-color: #79253d;
}
.footerr{
  background-color: rgb(255, 223, 228);

}
.bo{
  border: 1px solid white;
}
.c{
  color: #79253d;
text-align: center;

}
.af{
  text-decoration: none;
  color: black;
  display: block;
}
.image2{
  background-image: url(./assets/image2.jpg);
  background-repeat: no-repeat;
background-size: cover;
height: 517px;
}
.btnnn{
  text-decoration: none;
  border: 1px solid white;
  padding: 15px;
  color: white;

}
.btnnT{
  text-decoration: none;
  border: 1px solid #79253d;
  padding: 20px;
  color: #79253d;

}
.btnnT:hover{
  color: white;
  background-color: #79253d;
  }
  .add{
    text-decoration: none;
    border: 1px solid #79253d;
    padding: 20px;
    color: #79253d;
  }
  .add:hover{
    color: white;
    background-color: #79253d;
    }
    .vv{
      display: block;
    }
    .for{
      display: flex;
    }
    .addd{
      text-decoration: none;
      border: 1px solid #79253d;
      padding: 20px;

      color: #79253d;
    }
    .addd:hover{
      color: white;
      background-color: #79253d;
      }
      .nn{
        display: flex;
        justify-content: center;
        text-align: center;
      
      }
      .bh{
        background-image: url(./assets/image18.avif);
        background-repeat: no-repeat;
        height: 517px;
        background-size: cover;
        width: 1140px;
      }
      .lo{
      margin-top: 200px;
      color: #79253d;
      letter-spacing: 30px;
        font-size: 4rem;
      }
      .adddd{
        text-decoration: none;
     
      color: white;
      background-color: #79253d;

      }
      .adddd:hover{
        border: 1px solid #79253d;
        background-color: white;
        color: #79253d;
        }
        .addddd{
          text-decoration: none;
   
          padding: 20px;
    
          color: white;
      background-color: #79253d;
        }
        .addddd:hover{
            border: 1px solid #79253d;
          color: #79253d;
          background-color: white;
          }